.ultimateness{
    display: block!important;
    text-align: center;
}

.ultimateness h1 {
    font-size: 2.1em;
    font-weight: 500;
}

.ultimateness button {
    background-color: #ffffff21;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.4), 0 6px 10px 0 rgba(0,0,0,.16), 0 1px 18px 0 rgba(0,0,0,0.144);
    color: white;
}

.ultimateness button:focus {
    background-color: #ffffff5c;
}

.score {
    margin-top: .5em;
    margin-left: 2em;
    font-size: 1.5em;
}