/* html{
  background: url(img/back5.png);
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

mat-toolbar {
  background: #225378!important;
}

mat-card {
  background-color: transparent;
}

.winner {
  margin-left: 50px;
}

.mat-spinner::ng-deep circle {
  stroke: #EB7F00;
}

.content2{
  height: 500px;
  width: 500px;
  position: relative;
  left: 34.5%;
  border-radius: 50%;
  border: 5px solid #ffffff05;
  margin-top: 50 px!important;
} 

.enemy-hand {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.hands {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  color: rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.2);
  margin: 0!important;
  transition: 0.5s;
}

.hands:hover {
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background: rgba(255, 255, 255, 0.3);
  font-size: 1.6em;
}

.enemy {
  background-color: #EB7F00;
}

.score{
  margin-top:.5em;
  margin-left:2em;
  font-size:1.5em
}
.far{
  cursor:pointer;
  font-size:5em;
}

.selectedWeapon{
  color: background;
}
