/*.content1{
   display:grid;
  grid-template-columns: 1fr 1fr;
}*/

.content2{
  height: 500px;
  width: 500px;
/*   display: grid;
  grid-template-columns: repeat(3, 1fr); */
} 
.score{
  margin-top:.5em;
  margin-left:2em;
  font-size:1.5em
}
.far{
  cursor:pointer;
  font-size:5em;
}

.selectedWeapon{
  color: background;
}
