/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
body {
    background-image: radial-gradient( at 28% 45%, #459a7c, #0a2231);
    font-family: 'Comfortaa', cursive;  
    color: white;
}
